body{
    background-color: lightgreen;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}


#game{
    /*display:none;*/
    position: relative;
    height: 385px;
    background: url("images/background.jpg") repeat-x; 
    background:cover;
    
}

#bottle{
    height:100px;
    top:90px;
    left:600px;
    width:100px;
    position: absolute;
}

#bottleb{
    height:100px;
    top:110px;
    left:1000px;
    width:100px;
    position: absolute;
}

#plastic{
    height:100px;
    top:220px;
    left:100px;
    width:100px;
    position: absolute;
}

#civilian{
    width:100px;
    height:100px;
    position: absolute;
    top: 90px;
    z-index: 1;
}

#paper{
    height:50px;  
    position: absolute;
    top: 250px;
    left: 800px;
}

#ball{
    height:50px;  
    position: absolute;
    top: 150px;
    left: 200px;
}

#paperb{
    height:50px;  
    position: absolute;
    top: 300px;
    left: 500px;
}
h3{
    float: right;
    margin: 25px;
    color:yellow;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    margin: 20px auto;
}