body{
    background: url("https://s-media-cache-ak0.pinimg.com/originals/3a/70/86/3a708621d8868c4697bcdb01ef642974.png") repeat-x;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

#choise1{
    float:left;    
    width: 200px;
    height: 50px;
    font-weight: bolder;
    display: block;
    margin: 20px auto;
    position:relative;
    top:0;
}

#choise2{
    float:right;
    width: 200px;
    height: 50px;
    font-weight: bolder;
    display: block;
    margin: 20px auto;
    position:relative;
    top:0;
    
}


#game{
    /*display:none;*/
    position: relative;
    height: 385px;
    width: 1340px;
    left:0;
}

#dialog{
    background:black;
    color:yellow;
    width:1340px;
    height:150px;
    left:0px;
    top:500;
    overflow: auto;
    
}

#bottle{
    height:100px;
    top:90px;
    left:600px;
    width:100px;
    position: absolute;
}

#bottleb{
    height:100px;
    top:110px;
    left:1000px;
    width:100px;
    position: absolute;
}

#plastic{
    height:100px;
    top:320px;
    left:100px;
    width:100px;
    position: absolute;
}

#civilian{
    width:90px;
    height:90px;
    position: absolute;
    top: 150px;
    left:10px;
    z-index: 1;
}

#Johnas{
    width:90px;
    height:90px;
    position: absolute;
    top: 90px;
    left:700px;
    z-index: 1;
}

#paper{
    height:50px;  
    position: absolute;
    top: 250px;
    left: 800px;
}

#ball{
    height:50px;  
    position: absolute;
    top: 150px;
    left: 200px;
}

#cig{
    height:50px;  
    position: absolute;
    top: 300px;
    left: 500px;
}
h3{
    float: right;
    margin: 25px;
    color:yellow;
    bottom:0px;
}

#clean {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    margin:20px auto;
}